<!--Header-->
<header-dir></header-dir>

<!--Admin State-->
<div class="adminState">

    <!--Nav-->
    <div class="adminSpacing">
        <!--Nav-->
        <div class="adminNav">
            <p class="adminText">NAVIGATION</p>
            <p class="adminButton" Students ui-sref="admin.badges">badges</p>
            <p class="adminButton" ui-sref="admin.cards">cards</p>
            <p class="adminButton" ng-click="toggleDirs('categoryAdmin');" ui-sref="admin.category">category</p>
            <p class="adminButton" ng-click="toggleDirs('cohorts');" ui-sref="admin.cohorts">cohorts</p>
            <p class="adminButton" ng-click="toggleDirs('curriculumAdmin');" ui-sref="admin.curriculum">curriculum</p>
            <p class="adminButton" ng-click="toggleDirs('students');" ui-sref="admin.students">students</p>

            <!--CRUD-->
            <p class="adminText">CRUD MENU</p>
            <p class="adminButton"></p>
            <p class="adminButton"></p>
            <p class="adminButton"></p>
        </div>


        <div class="canvas">
            <p class="adminText">VIEWS</p>
            <!--Views-->
            <ui-view></ui-view>
        </div>

    </div>
</div>























<script>
    // <!--<div class="adminWrap">-->

    // <div class="innerFrame">
    // <div class="centerLogoWrap">
    //     <div ng-hide="activeDir.hideLogo" class="shinyDmLogo">
    //         <div class="clip-circleOne"></div>
    //         <div class="circleDiv"></div>
    //         <div class="svgTwo"></div>
    //     </div>
    // </div>

    // <div class="adminDirWrap">
    //     <ui-view></ui-view>
    // </div>

    //<!--</div>-->

// <!-- using adminCtrl -->
// <!-- <card-admin-dir ng-if="activeDir.cardAdmin == true"></card-admin-dir>
//   <badge-admin-dir ng-if="activeDir.badgeAdmin == true"></badge-admin-dir> -->
// <!-- <category-admin-dir ng-if="activeDir.categoryAdmin == true"></category-admin-dir>
//   <curriculum-admin-dir ng-if="activeDir.curriculumAdmin == true"></curriculum-admin-dir> -->
// <!-- <poptart-dir ng-if="activeDir.poptart == true"></poptart-dir> -->

</script>