<!--Vis Header-->
<div class="visHeader">
    <!--1st Quarter-->
    <div class="headerSpace">
        <div class="headerSpace">
            <a class="visLogo" href="/#/login"></a>
        </div>
        <div class="headerSpace"></div>
    </div>
    <!--2nd Quarter-->
    <div class="headerSpace"></div>
    <!--3rd Quarter-->
    <div class="headerSpace"></div>
    <!--4th Quarter-->
    <div class="headerSpace"></div>
</div>





<!--vis State-->
<div class="state">

    <!--Top-->
    <div class="stateSpace"></div>

    <!--vis Body-->
    <div class="stateSpace">

        <!--left-->
        <div class="stateSpace"></div>
        <div class="menu">
            <div class="visImageSpace">
                <div class="visImageOutline">
                    <div class="visImage"></div>
                </div>
            </div>
            <div class="stateSpace">
                <p class="visTitle">Login</p>
            </div>
            <div class="stateSpace">
                <a class="visText" href="/#/registration">Need an account?</a>
            </div>
            <div class="stateSpace">
                <form ng-submit="login(user)">
                    <div class="stateSpace">
                        <input type="text" class="visInput" placeholder="What is your username ?" ng-model="user.username">
                    </div>
                    <div class="stateSpace">
                        <input type="password" class="visInput" placeholder="What is your password ?" ng-model="user.password">
                    </div>
                    <div class="stateSpace">
                        <button class="visSubmit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="stateSpace">
                <p class="forgotPssWrd">Forgot password?</p>
            </div>

            <div class="visLinks">
                <div class="stateSpace">
                    <button class="visSubmit" type="submit">O| Login with GitHub</button>
                </div>
                <div class="stateSpace">
                    <button class="visSubmit" type="submit">
                        In| Login with LinkedIn</button>
                </div>
            </div>
        </div>
        <!--Right-->
        <div class="stateSpace"></div>
    </div>
    <!--Bottom-->
    <div class="stateSpace"></div>

</div>