<!------------------------Vis Header------------------------>
<div class="visHeader">
    <!--1st Quarter-->
    <div class="headerSpace">
        <div class="headerSpace">
            <a class="visLogo" href="/#/login"></a>
        </div>
        <div class="headerSpace"></div>
    </div>
    <!--2nd Quarter-->
    <div class="headerSpace"></div>
    <!--3rd Quarter-->
    <div class="headerSpace"></div>
    <!--4th Quarter-->
    <div class="headerSpace"></div>
</div>
<!------------------------Vis State------------------------>
<div class="visState">
    <p></p>
    <!------------------------Vis Menu------------------------>
    <div class="menu">
        <div class="visSpace">
            <div class="visImage"></div>
            <p class="visTitle">Sign Up</p>
            <div class="stateSpace">
                <a class="visText" href="/#/login">Log In Instead?</a>
            </div>
            <form ng-submit="register()">
                <input class="visInput" type="text" placeholder="emailAddress@email.com" ng-model="user.email">
                <input class="visInput" type="text" placeholder="Add Photo URL" ng-model="user.userImage">
                <input class="visInput" type="password" placeholder="Create Password" ng-model="user.password" required>
                <button class="visSubmit" type="submit">Create Account</button>
            </form>
        </div>
        <div class="visLinks">
            <button class="visSubmit" type="submit">O| Login with GitHub</button>
            <button class="visSubmit" type="submit">In| Login with LinkedIn</button>
        </div>
    </div>
</div>