<div class="createModalPane overlay">

    <!-- Badge Create -->
    <div class="badgePreviewWrapper">
        <div class="badgeRepeated">{{badge}}</div>
    </div>



    <form class="badgeCreateForm" ng-submit="createBadge(newBadge)">
        <input class="badgeInputs" type="text" name="MileStone" placeholder="Enter Badge Name here..." ng-model="newBadge.mileStone">

        <select class="badgeInputs" placeholder="Select a point value..." ng-options="option as option.difficulty for option in possiblePointValues"
        ng-model="newBadge.pointValue">
        </select> {{possiblePointValues}}

        <select class="badgeInputs" ng-options="category as category.categoryTitle for category in categories" ng-model="newBadge.category">
        </select>

        <select class="badgeInputSelect">
            <option value="Bronze">Bronze</option>
            <option value="Silver">Silver</option>
            <option value="Gold">Gold</option>
            <option value="Platinum">Platinum</option>
        </select>

        <div class="ImgAndDiscWrap">

            <div class="imgDdWrap">
                <img ng-src="{{selectedBadgeImage.imageLocation}}" ng-click="dd = !dd" class="badgeImg">
                <div class="wrapThisThangYo">

                    <div ng-if="dd" ng-repeat="image in images" ng-style="{'background-image':'url({{image.imageLocation}})'}" ng-click="selectBI(image); dd =!dd"
                    class="imgsRepDd badgeImg"></div>
                </div>
            </div>

            <textarea name="badgeCreateDesc" class="badgeCreateDesc" placeholder="Enter badge descriton here." ng-model="newBadge.desc"></textarea>
        </div>

        <input class="badgeCreateSubmit" type="submit">
    </form>

</div>





<div ng-click="close()" class="createModalBG fade"></div>