/*------------------------STUDENT STATE------------------------*/
.studentState { text-align: center;
    /*border: 1px solid rgb(100, 200, 150);*/
    background-color: rgba(0,0,0,.5);
    height: 87.5vh; 
    width: 100%;
}

.headerTmpl {
    /*border: 1px solid red;*/
    height: 10vh;
    width: 100%;
    margin: auto;
}

.navTmpl {
    background-image: url('/media/skins/vertScroll.png');
    background-size: 22.5vw 80vh;
    background-repeat: no-repeat;
    /*border: 1px solid rgb(250,0,0);*/
    height: 80vh;
    min-width: 22.5vw;
    margin: 2.5vh auto 0 auto;
}

.studentTmpl { 
    background-image: url('/media/skins/hrzScroll.png');
    background-size: 77vw 85vh;
    background-repeat: no-repeat;
    /*border: 1px solid rgb(250,0,250);*/
    height: 82.5vh;
    width: 72.5%;
    margin: 2.5vh auto 0 auto;
}

.tableText { color: rgba(0,0,0,.75);
                text-shadow: 0px .25vh .05vw rgba(250, 250, 250,.5);
                font-family: 'Cinzel', serif;
                text-align: center; 
                font-size: 4vh;
    /*border: 1px solid rgb(0,150,250);*/
    width: 100%;
    margin: auto;
}

.student {  color: rgb(250, 250, 250); 
            font-family: 'Cinzel', serif;
            text-align: center; 
    /*border: 1px solid rgb(0,150,0);*/
    border-radius: .5%;     
    height: 70vh;
    width: 59.7vw;
    margin: 2% auto auto 9.75%;
    overflow-x: auto;
}

/*------------------------CARDS------------------------*/
.card { font-family: 'Cinzel', serif;
        font-size: 2.5vh;
    /*border: 1px solid rgb(0,0,250);*/
    border-radius:2.5%;
    background-color: rgba(0,0,0,.05);
    background-image: url('/media/skins/clothBlue.jpg');
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px .25vh .05vh 1.5px rgba(0,0,0,0.5);    
    background-size: 25vw 75vh;
    background-repeat: no-repeat;
    height: 65vh;
    min-width: 22.5vw;
    padding: .75%;
    margin: 1%;
}
   
.catTitle {     color: rgba(0,0,50,.5); 
                text-align: center;  
                text-shadow: 0px 0px 2.5px rgba(0,0,50,.5);
    /*border: 1px solid rgb(250, 100, 0);*/
    width: 16vw;    
    margin: auto;
    
}   
.trophyTitle {  color: rgb(225, 250, 250); 
                text-align: center; 
                font-size: 4vh; 
                text-shadow: 0px 0px 2.5px rgba(250, 250, 250, 1);
    /*border: 1px solid rgb(0, 250, 0);*/
    width: 16vw;
    margin: auto;
}

.cardTrophyImage {
    /*border: 1px solid rgb(250, 0, 0);*/
    height: 10vh;
    width: 5vw;
    margin: 2.5%;
}

.cardFace { color: rgb(250, 250, 250);
            text-align: center;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 2.5%;
    -webkit-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75); 
    background-color: rgba(0, 0, 0, .2);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
    width: 22.5vw;
    margin: auto;
    overflow-y: auto;
}

/*------------------------BADGES------------------------*/
.badge {
   /*border: 1px solid rgba(250, 250, 250, .25);*/
   border-bottom: 1px solid rgba(0,0,0,.075);
    width: 21vw;
    margin: .5vh auto;
    display: inline-flex;
}

.badgeImage {
    border: 1px solid rgba(0,0,0,.25);
    background-color: rgba(0,0,0,0);
    -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 50%;
    height: 5vh;
    min-width: 2.5vw;
    padding: 2.5%;
    margin: auto;   
}
.milestone { text-align: left;
    /*border: 1px solid rgb(250, 0, 250);*/
    width: 20vw;
    padding: 0 2.5%;
    margin: auto;
}

.difficultyLevel { color: yellow;
    /*border: 1px solid rgb(0, 0, 250);*/
    height: 2.5vh;
    padding: 2.5%;
    margin: auto;
}
/*------------------------BADGE------------------------*/
/*------------------------CARD------------------------*/

/*------------------------BADGE REQUEST MDL------------------------*/
.bdgReqMod {    color: rgba(50,25,0,.5);
                font-family: 'Cinzel', serif;
                text-shadow: 0px 0px 2.5px rgba(50,25,0,.5);
                font-family: 'Fondamento', cursive;
                font-size: 5vh;
    border: 1px double rgba(50,25,0,.5); border-radius: 1%;
    /*border: 1px solid rgb(0, 0, 250);*/
    background-image: url('/media/skins/clothTan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    height: 30vh; top: calc(35vh);
    width: 30vw; left: calc(35vw);
    position: absolute;
    margin: auto;
}

.bdgReqButt {   color: rgba(50,25,0,.5);
                font-family: 'Cinzel', serif;
                text-shadow: 0px 0px 2.5px rgba(50,25,0,.5);
                font-family: 'Fondamento', cursive;
                font-size: 2.5vh;
    background-image: url('/media/skins/clothTan.jpg');  
    background-size: contain;            
    border: 1px double rgba(0,0,0,0); border-radius: 50%;
    /*border: 1px solid rgb(0,250,250);*/
    /*height: 3vh;*/
    margin: auto;
    }
.bdgReqButt:hover { color: rgba(150,25,0,.5);
                    font-size: 3vh;
                    text-shadow: 0px 0px 2.5px rgba(150,25,0,.5);
    border: 1px double rgba(0,0,0,0); border-radius: 50%;
}   
/*------------------------BADGE REQUEST MDL------------------------*/ 

/*------------------------STUDENT NAV------------------------*/  
.studentNav {   color: rgba(50,25,0,.5);
                font-family: 'Cinzel', serif;
                text-shadow: 0px 0px 2.5px rgba(50,25,0,.5);
                font-family: 'Fondamento', cursive;
                font-size: 2.5vh;
    /*border: 1px solid rgb(250,0,100);*/
    border-radius: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 62.5vh;
    width: 20vw;  
    margin: auto; margin-top: 12.5%;
}

.sdtXPLvl {   text-align: center;
  border: 1px solid rgba(150,0,0,.25);
  border-radius: 10%;
  width: 75%;
  margin: auto;
  display: inline-flex;
}

.sdtXP {
    border-radius: 5%;
    /*border: 1px solid rgba(0,250,0,1);*/
    background-color: rgba(200,0,0,.75);
    height: 2.25vh;
    width: 100%;
}

.studentCats { text-align: left;
    /*border: 1px solid gold;*/
    width: 100%;
    margin: 10% 0 10% 15%;
}
.studentStats { text-align: right;
    /*border: 1px solid orangered;*/
    width: 100%;
    margin: 10% 15% 10% 0;
}

/*------------------------STUDENT NAV------------------------*/

/*------------------------USER HEADER------------------------*/ 
.headerSpace {
    /*border: 1px solid rgb(150, 0, 250);*/
    width: 100%;
    display: inline-flex;
}

.userHeader {
    /*border: 1px solid rgb(250, 0, 0);*/
    background-image: url('/media/skins/whitemountains.jpg');
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);  
    background-size: contain;
    height: 10vh;
    width: 100%;
    margin: auto;
    display: inline-flex;
}

.userLogo { text-align: center;
    /*border: 1px solid rgba(0,0,250,1); */
    background-image: url('/media/miscellaneous/logowhiteblue.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 5% 10%;
}

.logout {
    /*border: 1px solid rgb('250, 0, 200');*/
    border: 1px solid rgba(0,0,0,.05); 
    border-radius: 50%;
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    height: 6.5vh;
    width: 3vw;
    padding: .75vh .5vw .5vh .35vw;
    margin: auto 2vw 1.5vh auto;    
}

.userImage {
    /*border: 1px solid rgb(0,250,250);*/
    border: 1px solid rgba(0,0,0,.05);
    background-color: rgb(250,250,250);
    /*background-size: contain;
    background-repeat: no-repeat;*/
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    border-radius: 50%;
    height: 6vh;
    width: 3vw;

    margin: auto;
    }

.userName { color: rgba(0,0,0,.75); 
            font-size: 2.5vh;
            text-align: right;
    /*border: 1px solid rgb(150,0,250);*/
    width: 75%;
    margin: auto;    
}
/*------------------------USER HEADER------------------------*/
/*------------------------STUDENT STATE------------------------*/