<!------------------------VIEW------------------------>
<ui-view>
    <div class="adminState">
        <div class="adminSpacing">
            <div class="adminNav">
                <!------------------------NAVIGATION------------------------>
                <p class="adminText">NAVIGATION</p>
                <p class="adminButton" Students ui-sref="admin.badges">badges</p>
                <p class="adminButton" ui-sref="admin.cards">cards</p>
                <p class="adminButton" ng-click="toggleDirs('categoryAdmin');" ui-sref="admin.category">category</p>
                <p class="adminButton" ng-click="toggleDirs('cohorts');" ui-sref="admin.cohorts">cohorts</p>
                <p class="adminButton" ng-click="toggleDirs('curriculumAdmin');" ui-sref="admin.curriculum">curriculum</p>
                <p class="adminButton" ng-click="toggleDirs('students');" ui-sref="admin.students">students</p>
                <!------------------------NAVIGATION------------------------>

                <!------------------------CRUD------------------------>
                <div class="adminSpacing">
                    <p class="adminButton" type="button" name="button">CREATE</p>
                </div>
                <!------------------------CRUD------------------------>
            </div>
            <!------------------------CARDS------------------------>
            <div class="adminCanvas">

                <div class="adminCard" ng-repeat="card in cards">
                    <div class="adminText">catId : {{card.category}}</div>
                    <div class="adminText">{{card.trophyTitle}}</div>

                    <div class="adminCardFace">
                        <div class="cardFace">
                            <div class="badge" ng-repeat="badge in card.badges">
                                <div class="badgeImage">cat</div>
                                <div class="milestone">{{badges.milestone}}</div>
                                <div class="difficultyLevel">{{badges.pointValue.difficulty}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="adminSpacing">
                        <div class="adminText">Total Point Value : {{totalCardPoints(card)}}</div>
                    </div>
                    <div class="adminSpacing">
                        <div class="adminCardButton">DELETE</div>
                        <div class="adminCardButton">UPDATE</div>
                    </div>
                </div>
            </div>
            <!------------------------CARDS------------------------>
        </div>
    </div>
</ui-view>
<!------------------------VIEW------------------------>