<div class="userHeader">

    <!--1st Quarter-->
    <div class="headerSpace">
        <!--Logo-->
        <div class="headerSpace">
            <a class="userLogo" href="/#/login"></a>
        </div>
    </div>

    <!--2nd Quarter-->
    <div class="headerSpace"></div>

    <!--3rd Quarter-->
    <div class="headerSpace"></div>

    <!--4th Qurter-->
    <div class="headerSpace">
        <div class="headerSpace">
            <div class="headerSpace">
                <div class="headerSpace"></div>
                <p class="userName">{{user.firstName}}</p>
                <a href="/api/logout"><img class="userImage" ng-src="{{user.userImage}}" ng-if="image"></a>
            </div>
        </div>
    </div>

</div>