<div class="navBarTmpl">
    <div class="navBarSpace">Cohort {{title}}</div>

    <!--Admin-->
    <div class="navBarAdmin" ng-hide="true">
        <div class="navBarSpace">
            <button class="navBarButton">Cohorts</button>
        </div>
        <!--<div class="navBarSpace"><button class="navBarButton">Mentors</button></div>-->
        <div class="navBarSpace">
            <button class="navBarButton">Students</button>
        </div>
        <!--<div class="navBarSpace"><button class="navBarButton">Curriculum</button></div>-->
        <!--<div class="navBarSpace"><button class="navBarButton">Trophies</button></div>-->
        <div class="navBarSpace">
            <button class="navBarButton">Cards</button>
        </div>
        <div class="navBarSpace">
            <button class="navBarButton">Badges</button>
        </div>
        <!--<div class="navBarSpace"><button class="navBarButton">Achievements</button></div>-->
    </div>

    <!--Student-->
    <div class="navBarSpace" ng-hide="false">
        <div class="navBarStudent">
            <h3>Level{{lvlName}}</h3>
            <h4>stat{{lvlNumber}}</h4>
        </div>
        <div class="navBarStudent">
            <h3>Progress Bar{{progressBar}}</h3>
        </div>
        <div class="navBarStudent">
        </div>
        <div class="navBarStudent">
            <h3>Badges</h3>
            <h4>stat{{number}}</h4>
        </div>
        <div class="navBarStudent">
            <h3>Bronze</h3>
            <h4>stat{{number}}</h4>
        </div>
        <div class="navBarStudent">
            <h3>Silver</h3>
            <h4>stat{{number}}</h4>
        </div>
        <div class="navBarStudent">
            <h3>Gold</h3>
            <h4>stat{{number}}</h4>
        </div>
        <div class="navBarStudent">
            <h3>Mentor</h3>
            <h4>{{name}}</h4>
        </div>
    </div>
</div>