<div class="nav">
    <!--Admin-->
    <div class="adminNav" ng-hide="false">
        <div class="navTitle">Navigate</div>
        <div class="stateSpace">
            <p class="navButton">Courses</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cohorts</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Curriculum</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cards</p>
        </div>
    </div>


    <!--Student-->
    <div class="studentNav" ng-hide="true">
        <div class="navTitle">Score Card</div>
        <!--Badges-->
        <div class="stateSpace">
            <div class="stateSpace">
                <p class="studentCats">Badges</p>
            </div>
            <div class="stateSpace">
                <p class="studentStats">stat{{number}}</p>
            </div>
        </div>

        <!--Bronze Medals-->
        <div class="stateSpace">
            <div class="stateSpace">
                <p class="studentCats">Bronze</p>
            </div>
            <div class="stateSpace">
                <p class="studentStats">stat{{number}}</p>
            </div>
        </div>

        <!--Silver Medals-->
        <div class="stateSpace">
            <div class="stateSpace">
                <p class="studentCats">Silver</p>
            </div>
            <div class="stateSpace">
                <p class="studentStats">stat{{number}}</p>
            </div>
        </div>

        <!--Gold Medals-->
        <div class="stateSpace">
            <div class="stateSpace">
                <p class="studentCats">Gold</p>
            </div>
            <div class="stateSpace">
                <p class="studentStats">stat{{number}}</p>
            </div>
        </div>

        <!--Student Level-->
        <div class="studentLvl">
            <div class="stateSpace">
                <p class="studentLvl">Level{{lvlName}}</p>
                <p class="studentLvl">stat{{lvlNumber}}</p>
            </div>
            <p class="studentLvl">Progress Bar{{progressBar}}</p>
        </div>

        <!--Mentor-->
        <div class="stateSpace">
            <div class="stateSpace">
                <p class="studentCats">Mentor</p>
            </div>
            <div class="stateSpace">
                <p class="studentStats">{{name}}Brack</p>
            </div>
        </div>
    </div>

</div>