<!--Student-->
<div class="tableText">Score Card</div>
<div class="studentNav" ng-hide="false">
    <!--Badges-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Badges</p>
        </div>
        <div class="spacing">
            <p class="studentStats">{{user.badgesAwarded.length}}</p>
        </div>
    </div>

    <!--Bronze Medals-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Bronze</p>
        </div>
        <div class="spacing">
            <p class="studentStats">{{trophyTotals.bronze}}</p>
        </div>
    </div>

    <!--Silver Medals-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Silver</p>
        </div>
        <div class="spacing">
            <p class="studentStats">{{trophyTotals.silver}}</p>
        </div>
    </div>

    <!--Gold Medals-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Gold</p>
        </div>
        <div class="spacing">
            <p class="studentStats">{{trophyTotals.gold}}</p>
        </div>
    </div>

    <!--Student Level-->
    <div class="studentLvl">
        <p class="studentLvlText">#n00b{{lvlTitle}}</p>
        <p class="studentLvlText"></p>
        <p class="studentLvlText">0{{}}</p>
    </div>

    <!--Total Points-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Points</p>
        </div>
        <div class="studentStats">{{user.earnedPoints}} / {{currPoints}}</div>
    </div>

    <!--Mentor-->
    <div class="spacing">
        <div class="spacing">
            <p class="studentCats">Mentor</p>
        </div>
        <div class="spacing">
            <p class="studentStats">{{user.watchlist}}</p>
        </div>
    </div>
</div>