<!--Cohort Name-->
<p class="tableText">{{user.cohort.cohortName}}</p>

<!--Card Table-->
<div class="view">
    <div class="student">
        <!--Student-->
        <div class="stateSpace">
            <!--Card-->
            <div class="card" ng-repeat="card in user.cohort.curriculum.card">
                <div class="stateSpace">

                    <!--Category-->
                    <div class="trophyTitle">
                        <div class="catTitle">
                            {{card.category.categoryTitle}}
                        </div>
                        {{card.trophyTitle}}
                    </div>

                    <!--Trophy-->
                    <img class="cardTrophyImage" ng-src="{{NBSGP(card)}}">
                </div>

                <!--Badge Field-->
                <div class="cardFace">

                    <!--Badge-->
                    <div class="badge" ng-repeat="badge in card.badges">
                        <button class="badgeImage" ng-click="modToggle(badge._id)"></button>
                        <div class="milestone">{{badge.mileStone}}</div>
                        <div class="difficultyLevel">
                            {{badge.pointValue.difficulty}}
                        </div>
                    </div>
                </div>
                <!--Point Tally-->
                <div class="stateSpace">
                    <p class="trophyTitle">0/{{totalCardPoints(card)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Badge Request Modal-->
<div class="bdgReqMod" ng-if="reqModal">
    <p>Badge Request</p>
    <div class="stateSpace">
        <button class="bdgReqButt" ng-click="modToggle(); wdrawReq()">Withdraw Request</button>
        <button class="bdgReqButt" ng-click="modToggle(); sbmtReq()">Submit Request</button>
    </div>
</div>