<!--Course Cards Title-->
<p class="tableTextTop">Cohort : {{user.cohort}}</p>

<div class="view">
    <div class="student">

        <!--Student Header-->

        <div class="stateSpace">
            <!--Card-->
            <div class="card" ng-repeat="card in cards">
                <div class="stateSpace">
                    <!--Category-->
                    <div class="stateSpace">
                        <div class="trophyTitle"><div class="catTitle">Nintendo{{category.categoryTitle}}</div>{{card.trophyTitle}}</div>
                    </div>

                    <!--Trophy-->
                    <img class="cardTrophyImage" ng-src="{{NBSGP(card)}}">
                </div>

                <!--Badge Field-->
                <div class="cardFace">

                    <!--Badge-->
                    <div class="badge" ng-repeat="badge in card.badges">
                        <img class="badgeImage" ng-src="{{badge.badgeImage}}">
                        <div class="milestone">{{badge.mileStone}}</div>
                        <div class="difficultyLevel">{{badge.pointValue.difficulty}}</div>

                    </div>
                </div>

                <!--Point Tally-->
                <div class="stateSpace">
                    <p>{{cardTotalPoints(card)}}/{{cardTotalPoints(card)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Student Point Counter-->
<p class="tableTextBottom">235{{deckTotalPoints(user)}}/{{totalPossiblePoints(curriculum)}}5000</p>