<!--Cohort-->
<p class="tableText">{{user.cohort.cohortName}}</p>

<div class="view">
    <div class="student">
        <!--Student-->
        <div class="stateSpace">
            <!--Card-->
            <div class="card" ng-repeat="card in user.cohort.curriculum.card">
                <div class="stateSpace">

                    <!--Category-->
                    <div class="trophyTitle">
                        <div class="catTitle">
                            {{card.category.categoryTitle}}
                        </div>
                        {{card.trophyTitle}}
                    </div>

                    <!--Trophy-->
                    <img class="cardTrophyImage" ng-src="{{NBSGP(card)}}">
                </div>

                <!--Badge Field-->
                <div class="cardFace">

                    <!--Badge-->
                    <div class="badge" ng-repeat="badge in card.badges">
                        <img class="badgeImage" ng-src="{{badge.badgeImage}}">
                        <div class="milestone">{{badge.mileStone}}</div>
                        <div class="difficultyLevel">
                            {{badge.pointValue.difficulty}}
                        </div>
                    </div>
                </div>
                <!--Point Tally-->
                <div class="stateSpace">
                    <p>0/{{totalCardPoints(card)}}</p>
                </div>
            </div>
        </div>
    </div>
</div>