.loginState {
    /*border: 1px solid rgb(0, 50, 0);*/
    background-color: rgba(1000, 1000, 1000, .9);
    background-image: url('/media/graystone.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 91%;
    width: 100.2%;
}

.loginSpace { text-align: center;
    /*border: 1px solid rgb(0, 100, 0);*/
    width: 100%;
        margin: auto;
    display: inline-flex;
}


.login { text-align: center; 
    border: 1px solid rgb(200, 100, 0);
    background-color: rgb(50, 25, 0);    
    margin: auto;
    width: 90%;
    height: 450px;
}

.loginInput { width: 75%; margin: auto; }
.loginSubmit { width: 75%; margin: auto; }

.loginImage { 
    border: 1px solid rgba(0, 0, 100, 1); 
    background-color: rgb(0, 0, 25);
    height: 15%; 
    }