.state {
    border: 1px solid rgb(100, 100, 100);
    background-color: rgba(1000, 1000, 1000, .85);
    background-image: url('/media/graystone.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 94.5%;
    width: 100.2%;
}

.registration { text-align: center; 
    border: 1px solid rgb(200, 100, 0);
    background-color: rgb(1000, 1000, 1000);    
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);    
    height: 75vh;
    width: 30vw;
    margin: auto;
}

.regInput { width: 75%; margin: auto; }

.regSubmit { color: white;
    border: 1px solid rgba(0,150,250,1);   
    border-radius: 5px;
    background-color: rgba(0,150,250,1);
    height: 6.5vh;
    width: 20.5vw; 
    margin: auto; 
    }

.regImage { 
    border: 1px solid rgba(0, 0, 100, 1); 
    background-color: rgb(0, 0, 25);
    height: 15%; 
    }