.studentState { text-align: center;
    /*border: 1px solid rgb(100, 100, 100);*/
    background-image: url('/media/skins/charcoalstones.png');
    -webkit-box-shadow: inset 2.5px -2.5px 15px 15px rgba(0,0,0,1);
    -moz-box-shadow: inset 2.5px 2.5px 15px 15px rgba(0,0,0,1);
    box-shadow: inset 2.5px -2.5px 15px 15px rgba(0,0,0,1); 
    background-color: rgba(0, 0, 0, .5); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 92.5%;
    width: 100.25%;
}

.headerTmpl {
    /*border: 1px solid red;*/
    background-color: rgba(0, 0, 0, .5);
    min-height: 70px; max-height: 10%;
    width: 100.2%;
}

.navTmpl {
    /*border: 1px solid red;*/
    background-color: rgba(0, 0, 0, .5);
    min-height: 100%; max-height: 100%;
    min-width: 25%; width: 1500px;
    margin: auto;
}

.viewTmpl { 
    /*border: 1px solid red;*/
    background-color: rgba(0, 0, 0, .5);
    min-height: 100%;
    min-width: 75%; width: 500px;
    margin: auto;
}