.visState { text-align: center;
    /*border: 1px solid rgb(100, 100, 100);*/
    background-color: rgba(250, 250, 250, .75); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 92.5%;
    width: 100.25%;
}

.menu { text-align: center; 
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 2.5px;
    background-color: rgb(1000, 1000, 1000);    
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);    
    height: 550px;
    width: 400px;
    margin: auto;
}

.visTitle { color: rgba(0,0,0,.75); font-size: 20px;
    /*border: 1px solid rgba(0, 0, 100, 1);*/
    margin: 7.5% auto;
}

.visText {  color: rgba(0,150,250,1); 
            font-size: 15px;
            text-decoration: none; 
    /*border: 1px solid rgb(0, 250, 0);*/
    width: 100%;
    margin: 5% auto;
}

.visSpace {
    /*border: 1px solid rgba(250, 0, 0, 1);*/
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-image: url('/media/skins/whitemountains.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    margin: auto;
}

.visImage {
    border: 1px solid rgba(0,0,0,.05); border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);      
    background-image: url('/media/miscellaneous/logoonly.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 10% auto;
    } 
    
.visInput { font-size: 15px;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 5px;
    background-color: rgba(100,100,250,.05);
    -webkit-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    height: 30px;
    width: 72.5%;
    margin: 1% auto; 
    }
.visSubmit { color: white; font-size: 15px;
    border: 1px solid rgba(0,150,250,1);   
    border-radius: 2.5px;
    background-color: rgba(0,150,250,1); 
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);  
    height: 30px;
    width: 72.5%;
    margin: 2.5% auto;
    }    

.visLinks {
    border-top: 1px solid rgba(0,0,0.05);
    padding-top: 2.5%;
    margin: 2.5% auto;
}