.menu { text-align: center; 
    /*border: 1px solid rgb(200, 100, 0);*/
    border-radius: 2.5px;
    background-color: rgb(1000, 1000, 1000);    
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);    
    min-height: 500px;
    min-width: 400px;
    margin: auto;
}

.visTitle { color: rgba(0,0,0,.75); font-size: 20px;
    /*border: 1px solid rgba(0, 0, 100, 1);*/
    margin: 5% auto;
}

.visText { color: rgba(0,150,250,1); font-size: 15px; 
    margin: .5% 0 2.5% 0;
}

.visInput { font-size: 4.5mm;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 5px;
    background-color: rgba(100,100,250,.05);
    -webkit-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2.5px 5px 0px rgba(0,0,0,0.75);
    height: 30px;
    width: 72.5%;
    margin: 1% auto; 
    }
.visSubmit { color: white; font-size: 15px;
    border: 1px solid rgba(0,150,250,1);   
    border-radius: 2.5px;
    background-color: rgba(0,150,250,1); 
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);  
    height: 30px;
    width: 72.5%;
    margin: 2.5% auto;
    }

.visImageSpace {
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-image: url('/media/whitemountains.jpg');
    background-size: contain;
    background-color: white;
    margin: auto;
}
.visImageOutline {
    border: 1px solid rgba(0,0,0,.05);    
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px .5px 0px rgba(0,0,0,0.5);    
    height: 45px;
    width: 45px;
    padding: 1.25% .75% 0 .75%;
    margin: 5% auto;
}

.visImage {
    /*border: 1px solid black;    */
    border-radius: 50%;
    background-image: url('/media/logoonly.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: auto;
    } 

.forgotPssWrd { color: rgba(0,150,250,1); font-size: 15px;
    margin: 2.5% auto;
}

.visLinks {
    border-top: 1px solid rgba(0,0,0.05);
    padding-top: 2.5%;
    margin: 2.5% auto;
}