.headerSpace {
    /*border: 1px solid rgb(150, 0, 250);*/
    width: 100%;
    display: inline-flex;
}

.userHeader {
    /*border: 1px solid rgb(250, 0, 0);*/
    background-image: url('/media/skins/whitemountains.jpg');
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    background-size: contain;
    background-color: rgb(25, 25, 0);
    min-height: 70px; height: 100%; max-height: 10%;
    width: 100.2%;
    margin: auto;
    display: inline-flex;
}

.userLogo { text-align: center;
    background-image: url('/media/miscellaneous/logowhiteblue.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 5% 10%;
}

.userImage {
    /*border: 1px solid rgb(0, 0, 1000);*/
    border-radius: 50%;
    width: 40px;
    margin: 12.5%; margin-left: 25%;
}

.userName { color: rgba(0,0,0,.75); 
            text-align: right;
    padding: 2.5%;
    margin: auto;    
}

.visHeader {
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.75);    
    min-height: 70px; max-height: 10%;
    width: 100.2%;
    display: inline-flex;
}

.visLogo {
    /*border: 1px solid rgb(500, 500, 0);*/
    text-align: center;
    background-image: url('/media/miscellaneous/logoonly.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 7.5%; margin-left: 60%;
}