<div class="cardAdminWrapper">
  <h1 class="cardHeader">Available Badges</h1>
  <div class="cardsShallBehave">
    <div ng-repeat="badge in badges">
      <div class="badgeRepeated">
        <img ng-src="{{badge.badgeImage}}"/>
        {{badge.badgeName}}
        {{badge.desc}}
      </div>
    </div>
  </div>
</div>


<!-- <div class="" ng-repeat="blah">

<badge-dir badge="b"> </badge-dir>
</div>
 -->
<!--
I'm thinking that we can include the card they apply to within the list,
and have some sorting options as well.
For MVP, we'll just display all of them in the objects' order. -->
<!-- <img src="./../media/css100.png" alt="" /> -->
