<div class="gridDirWrap">
  <!-- <grid-dir></grid-dir> -->
  <input type="text" placeholder="New category name" ng-model="newCategory ">
  <button ng-click="addCategory(newCategory)">add new category</button>
  <br/>

  <p ng-repeat="category in categories">
    {{category.categoryTitle}}
  </p>

</div>

<!-- TODO: these directives aren't necessary. They the function that populates grid-div could also call it into being on the adminState.html. There could be a ng-if that is linked to a function, which returns true if any of the four grids are toggled on through leftNavAdmin -->
