<!------------------------VIEW------------------------>
<ui-view>
    <div class="adminState">
        <div class="adminSpacing">
            <div class="adminNav">
                <!------------------------NAVIGATION------------------------>
                <p class="adminText">NAVIGATION</p>
                <p class="adminButton" Students ui-sref="admin.badges">badges</p>
                <p class="adminButton" ui-sref="admin.cards">cards</p>
                <p class="adminButton" ng-click="toggleDirs('categoryAdmin');" ui-sref="admin.category">category</p>
                <p class="adminButton" ng-click="toggleDirs('cohorts');" ui-sref="admin.cohorts">cohorts</p>
                <p class="adminButton" ng-click="toggleDirs('curriculumAdmin');" ui-sref="admin.curriculum">curriculum</p>
                <p class="adminButton" ng-click="toggleDirs('students');" ui-sref="admin.students">students</p>
                <!------------------------NAVIGATION------------------------>

                <!------------------------CRUD------------------------>
                <div class="adminSpacing">
                    <p class="adminButton" type="button" name="button" ng-click="showAModal()">create</p>
                </div>
                <!------------------------CRUD------------------------>
            </div>
            <!------------------------MENTEES------------------------>
            <div class="adminCanvas">
                <div class="adminCard">
                    <div class="adminSpacing">
                        <div class="adminCardCorner">PROP</div>
                        <div class="adminText">TITLE/NAME PROP</div>
                        <div class="adminCardCorner">PROP</div>
                    </div>
                    <div class="adminCardFace"></div>
                    <div class="adminSpacing">
                        <div class="adminCardCorner">PROP</div>
                        <div class="adminText">PROP</div>
                        <div class="adminCardCorner">PROP</div>
                    </div>
                    <div class="adminSpacing">
                        <div class="adminCardButton">DELETE</div>
                        <div class="adminCardButton">UPDATE</div>
                    </div>
                </div>
            </div>
            <!------------------------MENTEES------------------------>
        </div>
    </div>
</ui-view>
<!------------------------VIEW------------------------>