<!-- <div class="gridDirWrap"> -->
   <!-- ng-controller="adminCtrl" -->
  <!-- <h1 class="selectedGrid">{{selected}}</h1> -->
  <!-- <div ui-grid="{ data: thisIsMyData }" class="myGrid">
  </div> -->
  <!-- <div ng-if="activeDir.cohorts == true" ui-grid="{ data: thisIsSomeData }" class="myGrid"></div> -->
  <div class="myGrid" ui-grid="{ data: thisIsMyData }" ></div>
  <div ng-if="activeDir.catagory == true" ui-grid="{ data: thisIsMyData }" class="myGrid"></div>
  <!-- <div ng-if="activeDir.curriculum == true" ui-grid="{ data: thisIsMyData }" class="myGrid"></div> -->
<!-- </div> -->
<!-- <h1>Grid Dir test</h1> -->
<!-- picture, mentor, name, level, requests -->
<h1>
gridTmpl body msg
</h1>


<!-- THERE'S A PROBLEM WITH: THE NG-IF OR THE CLICK THAT BRINGS IT IN. -->
<!-- accesskey as a parameter? -->

<!-- ng-if="activeDir.student == true" ui-grid="{ data: thisIsMyData }" -->
