<div class="leftNavAreaDirWrap">
  <div class="leftNavArea">
    <p Students ui-sref="admin.badges">badges</p>
    <p ui-sref="admin.cards">cards</p>

    <p ng-click="toggleDirs('categoryAdmin');" ui-sref="admin.category">category</p>
    <p ng-click="toggleDirs('cohorts');" ui-sref="admin.cohorts">cohorts</p>
    <p ng-click="toggleDirs('curriculumAdmin');" ui-sref="admin.curriculum">curriculum</p>
    <p ng-click="toggleDirs('students');" ui-sref="admin.students">students</p>
  </div>
</div>

<!-- stop breaking my stuff -->

<!-- <div class="nav">
    Admin
    <div class="adminNav" ng-hide="false">
        <div class="navTitle">Navigation</div>
        <div class="stateSpace">
            <p class="navButton">Courses</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cohorts</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Curriculum</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cards</p>
        </div>
    </div>
</div> -->

<!-- using adminCtrl -->
