<div class="leftNavAreaDirWrap">
  <div class="leftNavArea">
    <p ui-sref ="admin.badges"
    ng-click="toggleDirs('badgeAdmin'); getBadges();">Badges</p>
    <p ui-sref ="admin.cards"
    ng-click="toggleDirs('cardAdmin'); activeData('Cards')">Cards</p>
    <p ui-sref ="admin.category"
    ng-click="toggleDirs('categoryAdmin'); activeData('categoryAdmin')">Categories</p>
    <p ui-sref ="admin.cohorts"
    ng-click="toggleDirs('cohorts'); activeData('Cohorts')" >Cohorts</p>
    <p ui-sref ="admin.curriculum"
    ng-click="toggleDirs('curriculumAdmin'); activeData('curriculumAdmin')">Curriculum</p>
    <p ui-sref ="admin.students"
    ng-click="toggleDirs('student'); activeData('Students')" >Students</p>
  </div>
</div>


<!-- stop breaking my stuff -->



<!-- <div class="nav">
    Admin
    <div class="adminNav" ng-hide="false">
        <div class="navTitle">Navigation</div>
        <div class="stateSpace">
            <p class="navButton">Courses</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cohorts</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Curriculum</p>
        </div>
        <div class="stateSpace">
            <p class="navButton">Cards</p>
        </div>
    </div>
</div> -->


<!-- using adminCtrl -->
